<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DEVELOPMENT_APP_KEY</key>
	<string>94aba99a5016daa8bfe484e15921ade85ea754b7f11b2b0dd688c4ce549a693c</string>
	<key>DEVELOPMENT_APP_SECRET</key>
	<string>8bf23a00b61d8373120abc0b4cfc8f0345fe1e68d40776b1d842223737750765</string>
	<key>PRODUCTION_APP_KEY</key>
	<string>94aba99a5016daa8bfe484e15921ade85ea754b7f11b2b0dd688c4ce549a693c</string>
	<key>PRODUCTION_APP_SECRET</key>
	<string>8bf23a00b61d8373120abc0b4cfc8f0345fe1e68d40776b1d842223737750765</string>
	<key>DEVELOPMENT</key>
	<true/>
	<key>RESOURCE_BUNDLE</key>
	<string>DefaultTheme.bundle</string>
	<key>OPTIONS</key>
	<dict>
		<key>APP_RUNS_ON_BACKGROUND</key>
		<false/>
		<key>IMAGES_SHARING</key>
		<true/>
		<key>BACKGROUND_COLOR</key>
		<string>FFFFFF</string>
		<key>TOOLBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>NAVBAR_COLOR</key>
		<string>FFFFFF</string>
		<key>ACTIVITY_INDICATOR_COLOR</key>
		<string>000000</string>
		<key>TITLE_COLOR</key>
		<string>000000</string>
		<key>BUTTONS_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_TEXT_COLOR</key>
		<string>000000</string>
		<key>TEXTFIELD_BACKGROUND_COLOR</key>
		<string>E5E5EA</string>
	</dict>
</dict>
</plist>
